
.contact-section{
   padding: 100px 0;
}

.form-container {
  background-color: white;
  padding: 20px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-top: 20px solid #ACACF5;
  border-bottom: 20px solid #ACACF5;
  border-left: 2px solid #ACACF5;
  border-right: 2px solid #ACACF5;
  }
  
  h1 {
    text-align: center;
    color: #4d4d99;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .input-form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
  
  label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #4d4d99;
  }
  
  input, textarea, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus, textarea:focus {
    outline: none;
    border-color: #4d4d99;
  }
  
  button {
    background-color: #4d4d99;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #393970;
  }
